<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.IDGenerator"
        version   = "1.0.0">

    <name>ID Generator</name>

    <description>
        Simple ID Generator joke app for N-300.
    </description>

    <author href="https://github.com/ntguy" email="nicalaitguy@gmail.com">
        Nicalai Guy
    </author>
  
    <icon src="icon.png" />   
    <allow-navigation href="*" />   <!-- stay in webview -->
    <preference name="stay-in-webview"  value="true" /> 
  
    <preference name="permissions"                value="none"/>
    <plugin name="cordova-plugin-whitelist" />
    <access origin="*" />

</widget>
